<div class="form-group topRight">
  <label for="product_category">Product Category:</label>
  <select class="form-control" [(ngModel)]="defaultSelected" (ngModelChange)="filterCategories($event)">
    <option disabled selected>Select Category</option>
    <option value={{category}} *ngFor="let category of uniqueProductsCategory">{{category}}</option>
  </select>

</div>

<div class="gallery">
  <div class="content" *ngFor="let product of products">
    <img src="../assets/images/{{product.p_name.toLowerCase()}}.jpg">
    <h2>{{product.p_name}}</h2>
    <p>{{product.p_details || 'Default Content'}}</p>
    <h4>₹{{product.p_cost}}</h4>
    <button class="addToCartButton">Add To Cart</button>
  </div>
</div>
