.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: 0.4s;
}

.content:hover {
  box-shadow: 0 0 11px rgb(33 33 33 / 20%);
  transform: translate(0px, -8px);
  transition: 0.6s;
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.addToCartButton {
  background-color: #c3395b;
  text-align: center;
  font-size: 22px;
  font-family: inherit;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.topRight {
  position: absolute;
  top: 0.5%;
  right: 5%;
}
